#input_field{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#myChart{
    width: 100vw;
    height: 80vh;
}

#btnGet {
    align-self: auto
}

fieldset {
    display: flex;
    justify-content: space-between;
}
